.about-us {
  margin: 10px;
  /* padding: 10px 20px; */
  text-align: center;
}
.about-us p {
  /* border: 2px solid rgb(71, 71, 71); */
  padding-bottom: 40px;
}
.about-us a {
  font-size: 24px;
}
.about-us a:hover {
  text-decoration: underline;
}

.b-content {
  margin: 10px;
  /* padding: 20px 10px; */
  /* overflow-x: hidden; */
  /* border: 2px solid rgb(71, 71, 71); */
}
.about-us button {
  margin-top: 60px;
}
/* @keyframes rightToLeft {
  0% {
    transform: translateX(400px);
  } */
/* 100% {
    transform: translateX(0);
  } */
/* } */

@keyframes bottomToTop {
  0% {
    top: 800px;
  }
  /* 100% {
    top: -10px;
  } */
  100% {
    top: 0;
  }
}

.b-content p {
  animation: bottomToTop 5s linear;
  position: relative;
  /* font-weight: bold; */
  font-size: calc(14px + 0.1vmin);
  /* color: #61dafb; */
  /* background-color: rgb(0, 0, 0); */
  /* width: 50%; */
  height: 100%;
  /* display: inline-block; */
  /* margin: 6px; */
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.383) 14px 4px 26px;
  /* letter-spacing: 0.2em; */
  /* animation-name: rightToLeft; */
  /* animation-duration: 2.5s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: 1; */
  /* animation: rightToLeft 4.5s linear infinite; */
  /* padding-top: 60px; */
}
.text-slides {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(71, 71, 71); */
}
.text-slides p {
  /* display: flex; */
  /* justify-content: space-between; */
  border: 1px solid rgb(71, 71, 71);
  width: 30%;
  height: auto;
  border-radius: 6px;
  height: 360px;

  /* border: 2px solid rgb(71, 71, 71); */
}

@media screen and (max-width: 760px) {
  .about-us p {
    display: flex;
    flex-direction: column;

    /* border: 2px solid rgb(71, 71, 71); */
    padding: 10px 20px;
  }
  .b-content p {
    /* display: flex; */
    width: 90%;
    font-size: 16px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.383) 4px 4px 16px;
    justify-content: center;
    align-items: center;
  }
}
