/* display: flex; */
/* display: block; */
/* flex-direction: row; */
/* align-items: right; */
/* justify-content: flex-start; */
/* text-align: center; */
/* margin: 0; */
/* padding: 4px; */
/* border: 2px solid rgb(255, 0, 47); */

.admin-form {
  margin-top: 10px;
  /* color: rgb(242, 6, 6); */
  /* border: 2px solid rgb(255, 0, 47); */
}
/* .user-name {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 0, 47);
} */

.admin-form label {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 8px 0;
}
.react-form {
  margin-bottom: 20px;
}
.react-form input {
  /* padding: 10px 40px; */
  border-radius: 4px;
}
.react-form select {
  width: 260px;
  padding: 12px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}
.placeholders {
  width: 260px;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  /* margin: 0; */
  /* border: 2px solid rgb(255, 0, 47); */
}
.admin-checkbox {
  width: 260px;
  display: flex;
}
.admin-checkbox input {
  margin: 0 6px;
  font-size: 19px;
}
.conditions input {
  margin: 0 6px;
}
.react-form button {
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
  font-size: calc(16px + 0.2vmin);
  border: 2px solid rgb(63, 60, 60);
  border-radius: 25px;
  width: 200px;
  height: 2.3rem;
  background-color: #282c34;
  color: #ffffff;
  box-shadow: 0 0 2px 1px #61dafb, rgb(87, 87, 87) 2px 3px 4px 0 inset;
}
.react-form button:hover {
  background-color: #282c34;
  /* color: #f80606; */
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 0 0 16px 1px #61dafb, rgb(0, 0, 0) 0 2px 2px 0 inset;
}
.react-form button:focus {
  background-color: #282c34;
  /* color: #ff0101; */
  border: 1px solid #ffffff;
  box-shadow: 0 0 8px 1px #61dafb, rgb(149, 149, 149) 1px 1px 4px 0 inset;
}
