.form-container {
  text-align: center;
}
.ant-form-item-control-input {
  width: 300px;
  /* margin: 0; */
}
.home-header span {
  color: white;
}
.ant-input-affix-wrapper > input.ant-input {
  padding: 6px;
}
.ant-col-16 {
  max-width: 100%;
}
.ant-col-offset-8 {
  margin-left: 0;
}
.ant-input {
  border: 1px solid rgb(4, 200, 244);
  padding: 10px;
  /* color: rgb(215, 12, 12); */
}
.link-client {
  color: #ffffff;
  margin: 20px 0 10px 0;
}
.link-client:hover {
  color: #61dafb;
}
.ant-btn {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
  /* font-size: calc(16px + 0.2vmin); */
  border: 2px solid rgb(63, 60, 60);
  border-radius: 25px;
  width: 160px;
  height: 2rem;
  background-color: #282c34;
  color: #ffffff;
  box-shadow: 0 0 4px 0 #61dafb, rgb(70, 70, 70) 2px 3px 4px 0 inset;
}
.ant-btn:hover {
  background-color: #282c34;
  color: #61dafb;
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 0 0 16px 1px #61dafb, rgb(0, 0, 0) 0 2px 2px 0 inset;
}
.ant-btn:focus {
  background-color: #282c34;
  color: #61dafb;
  border: 1px solid #61dafb;
  box-shadow: 0 0 8px 1px #61dafb, rgb(149, 149, 149) 1px 1px 4px 0 inset;
}
/* .ant-btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .ant-btn .modButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.ant-modal-footer {
  background-color: #282c34;
  text-align: center;
}
.ant-modal-content {
  height: 360px;
}
/* @media screen and (max-width: 760px) {
  .form-container .ant-row {
    padding: 0;
  }
  .ant-form-item {
    margin: 0;
  }
  .ant-form-item .ant-form-item-label {
    padding: 0;
  }
  .ant-form-item-control:first-child:not([class^='ant-col-']):not([class*=' ant-col-']) {
    padding: 10px;
  }
} */

@media screen and (max-width: 575px) {
  .form-container .ant-form-item-control-input {
    width: 100%;
  }
  .ant-form {
    margin: 0 20px;
  }
  .ant-col-offset-8 {
    margin: 0;
    padding-top: 10px;
  }
}
