.contentStyle {
  height: 160px;
  color: rgb(195, 25, 25);
  height: 160px;
  text-align: center;
  background: rgb(168, 168, 168);
  border: 1px solid red;
}

.ant-carousel .slick-slider .slick-track {
  border: 1px solid red;
}
.ant-carousel .slick-slider .slick-list {
  border: 1px solid red;
}
.ant-carousel {
  border: 1px solid red;
}

.contentStyle .slick-slider {
  border: 1px solid red;
}
.slick-track {
  border: 1px solid red;

  transform: none;
}
