.coin-data {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
}
.coin-row {
  display: flex;
  border-bottom: 1px solid #3e3e3e;
  height: 48px;
}
.coin-l p {
  font-size: 14px;
}
.coin-row img {
  width: 32px;
  height: 32px;
}
.coin-data h5 {
  text-align: left;
  font-weight: 600;
  margin-left: 10px;
  width: 200px;
}
.coin-symbol {
  text-transform: uppercase;
  width: 100px;
  text-align: left;
}
.coin-price {
  width: 100px;
  text-align: left;
}
.coin-volume {
  width: 200px;
  text-align: right;
}
.coin-percent {
  width: 80px;
  margin-left: 10px;
}
.red {
  color: tomato;
}
.green {
  color: #11d811;
}
.coin-marketcap {
  width: 200px;
  text-align: right;
}

/* * * * -- MEDIA QUERIES HERE: -- * * * */
@media screen and (max-width: 760px) {
  .coin-container {
    height: 220px;
  }
  .coin-data {
    flex-direction: column;
    border-bottom: 1px dashed grey;
  }
  .coin-row img {
    width: 42px;
    height: auto;
  }
  .coin-data h5 {
    width: auto;
    margin: 0;
    font-size: 18px;
  }
  .coin-row {
    margin: 0;
    flex-direction: column;
    height: 200px;
    margin: 20px 0;
    width: auto;
    text-align: center;
    border: none;
  }
  .coin-name {
    text-align: center;
  }
  .coin-symbol {
    margin: 0;
    text-align: center;
  }
  .coin-price {
    text-align: center;
  }
  .coin-volume {
    text-align: center;
    margin: 0;
  }
  .coin-percent {
    margin: 0;
  }
  .coin-marketcap {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }
}
