.coin-container {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #000000;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 4px 1px #61dafb;
}

.coin-row {
  align-items: center;
}

.coin {
  padding: 10px 0;
}

.coin h1 {
  font-size: 16px;
}

.coin img {
  height: 45px;
  width: 45px;
}

.coin-symbol {
  text-transform: uppercase;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
