/* .row { */
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* align-items: center; */
/* text-align: center; */
/* color: #ffffff; */
/* } */
/* .form-control {
  border: 1px solid rgb(0, 38, 255);
  background-color: #000000;
} */

/* .row .ce_button { */
/* width: 100px; */
/* } */
/* .row { */
/* border: 1px solid #ed0808; */
/* margin: 0; */
/* padding: 0; */
/* } */
/* .btn {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 0;
  color: #ffffff;
  cursor: pointer;
  background: #282c34;
  border: 1px solid #282c34;
  box-shadow: 0 0 6px 0 #61dafb, rgb(74, 74, 74) 0 0 2px 1px inset;
  border-radius: 50px;
}
.btn:hover,
.btn:focus {
  box-shadow: 0 0 10px 0 #61dafb;
  color: #61dafb;
  border: 1px solid #61dafb;
  background-color: rgba(168, 168, 168, 0.2);
}

.btn:active {
  background-color: rgba(225, 225, 225, 0.2);
} */

/* .resetBtn {
  font-size: 22px;
  width: 10rem;
  padding: 0;
  margin-top: 40px;
  height: 46px;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #413d3d;
  box-shadow: 0 0 6px 0 #61dafb, rgb(74, 74, 74) 2px 2px 6px 0 inset;
  border-radius: 25px;
}
.resetBtn:focus {
  border: 1px solid #61dafb;
  box-shadow: 0 0 100px 4px #000000;
  background-color: rgba(225, 225, 225, 0.2);
}
.resetBtn:hover {
  box-shadow: 0 0 4px 2px #61dafb, rgb(0, 0, 0) 0 0 2px 1px inset;
  background-color: rgba(0, 0, 0, 0.2);
  color: #61dafb;
} */
