.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.value {
  font-size: 22px;
  width: 6rem;
  /* color: #ffffff; */
  padding: 6px 0;
  margin: 0 26px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 18px 0 #000000, 0 0 4px 0 #3e3c3c inset;
}
.btn {
  width: 2.6rem;
  padding: 8px;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  background-color: #282c34;
  border: 1px solid #282c34;
  box-shadow: 0 0 6px 0 #61dafb, rgb(74, 74, 74) 0 0 4px 1px inset;
  border-radius: 50px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 10px 0 #61dafb;
  color: #61dafb;
  border: 1px solid #61dafb;
  background-color: rgba(168, 168, 168, 0.2);
}

.btn:active {
  background-color: rgba(225, 225, 225, 0.2);
}

.resetBtn {
  font-size: 22px;
  width: 10rem;
  padding: 0;
  margin-top: 40px;
  height: 46px;
  border: none;
  /* outline: none; */
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #413d3d;
  box-shadow: 0 0 6px 0 #61dafb, rgb(74, 74, 74) 2px 2px 6px 0 inset;
  border-radius: 25px;
}
.resetBtn:focus {
  border: 1px solid #61dafb;
  box-shadow: 0 0 100px 4px #000000;
  background-color: rgba(225, 225, 225, 0.2);
}
.resetBtn:hover {
  box-shadow: 0 0 4px 2px #61dafb, rgb(0, 0, 0) 0 0 2px 1px inset;
  background-color: rgba(0, 0, 0, 0.2);
  color: #61dafb;
}
