button,
textarea {
  /* padding: 8px 10px; */
  width: 72px;
}

.ce_button .col-xs-4 {
  width: 98%;
  margin: 0;
  margin-top: 10px;
}
.ce_button .col-xs-4 .btn {
  width: 100%;
  height: 56px;
  /* margin: 0; */
}

.redux-counter {
  border: 1px solid rgb(0, 0, 0);
  width: 260px;
  /* margin: 0; */
  padding: 40px 0;
  /* background: #f6f6f6; */
  border-radius: 25px;
  box-shadow: #b1b6b66e 0 0 2px 2px, rgb(0, 0, 0) 0 0 40px 2px;
}
.row {
  display: flex;
  margin: 0;
}
.cal .row .col-xs-4 button {
  color: rgb(0, 229, 255);
  /* border: none; */
  /* border: 1px solid rgb(2, 246, 250); */
  border-radius: 4px;
  background-color: rgb(35, 34, 34);
  padding: 10px;
  margin: 4px;
  border: none;
  /* width: 0; */
  /* height: 56px; */
  box-shadow: rgb(130, 127, 127) 0 0 0 1px inset;
}

.cal .row .col-xs-4 button:hover {
  color: white;
  background-color: #000000;
  /* border: 1px solid #282c34; */
  /* border-radius: 0; */
  box-shadow: 0 0 4px 0 #01eeff, 0 0 0 1px #00dbf8d5 inset;
  /* border: none; */
}
/* .row { */
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* align-items: center; */
/* text-align: center; */
/* color: #ffffff; */
/* } */
/* .form-control {
  border: 1px solid rgb(0, 38, 255);
  background-color: #000000;
} */

/* .row .ce_button { */
/* width: 100px; */
/* } */
/* .row { */
/* border: 1px solid #ed0808; */
/* margin: 0; */
/* padding: 0; */
/* } */
/* .btn {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 0;
  color: #ffffff;
  cursor: pointer;
  background: #282c34;
  border: 1px solid #282c34;
  box-shadow: 0 0 6px 0 #61dafb, rgb(74, 74, 74) 0 0 2px 1px inset;
  border-radius: 50px;
}
.btn:hover,
.btn:focus {
  box-shadow: 0 0 10px 0 #61dafb;
  color: #61dafb;
  border: 1px solid #61dafb;
  background-color: rgba(168, 168, 168, 0.2);
}

.btn:active {
  background-color: rgba(225, 225, 225, 0.2);
} */

/* .resetBtn {
  font-size: 22px;
  width: 10rem;
  padding: 0;
  margin-top: 40px;
  height: 46px;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #413d3d;
  box-shadow: 0 0 6px 0 #61dafb, rgb(74, 74, 74) 2px 2px 6px 0 inset;
  border-radius: 25px;
}
.resetBtn:focus {
  border: 1px solid #61dafb;
  box-shadow: 0 0 100px 4px #000000;
  background-color: rgba(225, 225, 225, 0.2);
}
.resetBtn:hover {
  box-shadow: 0 0 4px 2px #61dafb, rgb(0, 0, 0) 0 0 2px 1px inset;
  background-color: rgba(0, 0, 0, 0.2);
  color: #61dafb;
} */

@media screen and (max-width: 760px) {
  .redux-counter {
    border: none;
    /* width: 260px; */
    /* margin: 0; */
    /* padding: 40px 0; */
    /* background: #f6f6f6; */
    /* border-radius: 25px; */
    box-shadow: none;
  }
}
