.card p {
  padding: 2rem 0.5rem;
  background: rgb(235, 237, 238);
  border-radius: 25px;
  color: black;
  /* border: 1px solid rgb(0, 0, 0); */
  box-shadow: 0 0 100px 4px #61dafb;
  /* transition-delay: 3s;
  transition-property: margin-right; */
}

@media screen and (max-width: 760px) {
  .framer {
    margin-bottom: 20px;
  }
}
