.framer {
  padding: 40px 20px 20px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.card {
  margin-bottom: 20px;
}
.card p {
  /* width: 600px; */
  margin-top: 40px;
  padding: 2rem 1.2rem;
  background: rgb(235, 237, 238);
  border-radius: 25px;
  color: black;
  border: 1px solid rgb(93, 88, 88);
  box-shadow: 0 0 6px 0 #61dafb, rgb(74, 74, 74) 0 0 4px 1px inset;
  /* transition-delay: 3s;
  transition-property: margin-right; */
}

@media screen and (max-width: 760px) {
  .card p {
    /* border: 2px solid #ec0d0d; */
    box-shadow: 0 0 6px 2px #61dafb;
    width: 260px;
    /* margin: 0; */
    padding: 2rem 1rem;
  }
}
