.login-form svg {
  color: black;
}
.ant-input-affix-wrapper > input.ant-input {
  padding: 8px 16px;
}
.login-btn {
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
  font-size: calc(16px + 0.2vmin);
  border: 2px solid rgb(63, 60, 60);
  border-radius: 25px;
  width: 200px;
  height: 2.3rem;
  background-color: #282c34;
  color: #ffffff;
  box-shadow: 0 0 2px 1px #61dafb, rgb(87, 87, 87) 2px 3px 4px 0 inset;
}

.login-btn:hover {
  background-color: #282c34;
  /* color: #61dafb; */
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 0 0 16px 1px #61dafb, rgb(0, 0, 0) 0 2px 2px 0 inset;
}
.login-btn:focus {
  background-color: #282c34;
  /* color: #ff0101; */
  border: 1px solid #ffffff;
  box-shadow: 0 0 8px 1px #61dafb, rgb(149, 149, 149) 1px 1px 4px 0 inset;
}

@media screen and (max-width: 760px) {
  .ant-form-item-control:first-child:not([class^='ant-col-']):not([class*=' ant-col-']) {
    padding: 10px;
  }
}
