.login-form {
  width: auto;
  /* border: 2px solid red; */
  /* font-size: calc(16px + 0.5vmin); */
}
.login-form svg {
  color: black;
}
.ant-input-affix-wrapper > input.ant-input {
  padding: 6px 16px;
}
.ant-btn-primary {
  font-size: calc(16px + 0.2vmin);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  height: 2.5rem;
  margin-bottom: 1rem;
}
.ant-btn-primary span {
  color: rgb(0, 0, 0);
}
