.login-form {
  width: auto;
  /* border: 2px solid red; */
  /* font-size: calc(16px + 0.5vmin); */
}
.login-form svg {
  color: black;
}
.ant-input-affix-wrapper > input.ant-input {
  padding: 6px 16px;
}
