.navigation {
  position: relative;
  display: flex;
  height: 60px;
  width: 100%;
  padding: 1rem 0;
}
.kompweb a {
  text-decoration: none;
  font-size: calc(18px + 1.6vmin);
  color: #61dafb;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.kompweb a:hover {
  /* font-style: italic; */
  border-bottom: 5px solid #03b7e9;
  color: #ffffff;
}
.kompweb p {
  color: #ffffff;
  letter-spacing: 0.2em;
  font-size: calc(10px + 1vmin);
  /* font-weight: 200; */
}
.react {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  font-size: calc(10px + 1vmin);
}
.navigation-menu li {
  list-style-type: none;
  margin-right: 30px;
  padding: 5px;
  align-items: right;
  border-bottom: 1px dashed #4f4f4f;
  color: rgb(255, 255, 255);
  text-align: right;
}
.navigation-menu li:hover {
  padding-bottom: 5px;
  border-bottom: 1px dashed #a1a1a1;
}
.navigation-menu a {
  right: 0;
  color: #fff;
  /* font-size: calc(18px + 0.5vmin); */
  /* font-weight: 200; */
  letter-spacing: 0.3em;
}
.navigation-menu a:hover {
  color: #61dafb;
  /* font-weight: 500; */
  /* letter-spacing: 0.4em; */
}
.hamburger {
  border: 0;
  height: 75px;
  width: 75px;
  padding: 0;
  border-radius: 50%;
  background-color: #282c34;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 85%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: rgb(29, 29, 29);
}
@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    /* display: flex; */
    /* flex-direction: column; */
    position: absolute;
    top: 70px;
    right: 0;
    /* width: 10%; */
    /* height: calc(100vh - 60px); */
    /* background-color: rgba(255, 255, 255, 0.068); */
    /* border: 1px solid rgb(110, 110, 110); */
    display: none;
  }
  .navigation-menu li a {
    color: rgb(255, 255, 255);
    font-size: calc(14px + 0.5vmin);
    letter-spacing: 0.2em;
  }
  .navigation-menu li a:hover {
    /* background-color: rgb(117, 117, 117); */
    color: #61dafb;
    font-weight: 300;

    /* border-bottom: 1px solid rgb(11, 122, 233); */
  }
  .navigation-menu.expanded ul {
    display: block;
    margin: 14px 0 0 0;
    padding: 2px;
    /* border: 1px solid rgb(215, 24, 24); */
  }
}
