.projects {
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(0, 0, 0); */
  /* background-color: #b4b4b4; */
}
.projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects-l {
  border-bottom: 1px solid rgb(200, 200, 200);
}
.bottom-container {
  padding: 20px;
}
.shop-container {
  padding-bottom: 20px;
}
.ant-card-cover img {
  padding: 35px;
  height: 260px;
}
.ant-card-meta-detail div {
  color: #fff;
}
.ant-card-meta-detail div:hover {
  color: rgb(0, 0, 0);
}
.ant-card-meta {
  background-color: #282c34;
  padding: 4px;
  margin: 0 20px;
  border-radius: 25px;
}
.ant-card-meta:hover {
  background-color: #61dafb;
}
.ant-card-meta-title {
  padding: 6px 0;
}
.shop-container .ant-card {
  border-radius: 25px;
}
.shop-container .ant-card:hover {
  box-shadow: 0 0 0 6px #61dafb;
}
.ant-row {
  margin: 10px;
}
@media screen and (max-width: 914) {
  .ant-row {
    margin: 80px;
    border: 3px solid rgb(0, 0, 0);
  }
}
