/* .bottom-container { */
/* display: flex; */
/* flex-direction: column; */
/* text-align: center; */
/* width: 60%; */
/* border: 1px solid rgb(238, 239, 241); */
/* } */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.shop-container {
  margin-bottom: 60px;
}
.ant-card-cover img {
  padding: 50px;
  height: 260px;
}
.ant-card-meta {
  margin: 0 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 1px 1px #ababab, rgb(255, 255, 255) 4px 4px 4px 2px inset;
  border: 1px solid rgb(241, 238, 238);
}
.ant-card-meta:hover {
  background-color: #61dafb;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.ant-card-meta-title {
  padding: 6px 0;
}
.shop-container .ant-card {
  border-radius: 25px;
  border: 1px solid #9d8787;
  /* box-shadow: #61dafb 0px 0px 2px 2px, rgb(0, 0, 0) 8px 8px 40px 4px; */
  box-shadow: #61dafb 1px 2px 2px 2px, rgb(0, 0, 0) 8px 8px 40px 4px;
}
.shop-container .ant-card:hover {
  border: 1px solid #726565;
  box-shadow: 0 0 18px 2px #61dafb, rgb(127, 127, 127) 0 0 4px 1px inset;
  /* box-shadow: 0 0 8px 4px #61dafb, rgb(74, 74, 74) 0 0 4px 1px inset; */
}
.framer {
  padding-bottom: 40px;
}
.admin-dashboards {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  /* width: 360px; */
  border-bottom: 1px solid rgb(95, 95, 95);
  width: 90%;
}
/* .bottom-container h4 {
  font-size: 26px;
  padding: 10px 0;
  color: #61dafb;
} */

/*  *  *  MEDIA QUERIES  *  *  */
@media screen and (max-width: 760px) {
  .projects-list {
    flex-direction: column;
  }
  .bottom-container {
    width: 80%;
  }
  .admin-dashboards {
    height: 300px;
    border-bottom: 1px solid rgb(200, 200, 200);
  }
  .framer {
    border-bottom: 1px solid rgb(200, 200, 200);
  }
  .redux-counter {
    /* margin: 60px 0 10px 0; */
    border: none;
  }
}
.value textarea {
  font-size: 26px;
  /* text-align: center; */
  color: #ffffff;
  width: 228px;
  height: 56px;
  padding-left: 10px;
  /* margin: 0; */
  margin-bottom: 10px;
  /* background-color: #000000; */
  background-color: #000000;
  /* border: none; */
  /* border: 1px solid #61dafb; */
  border-radius: 4px;
  /* box-shadow: 0 0 50px 1px #61dafb, rgb(106, 102, 102) 0 0 0 1px inset; */
  /* box-shadow: 0 0 2px 0 #000000 inset; */
}

.row .details {
  color: white;
}
.col-xs-4 {
  color: white;
  border-radius: 25px;
}
