.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.shop-container {
  margin-bottom: 60px;
}
.ant-card-cover img {
  padding: 50px;
  height: 260px;
}

.ant-card-meta {
  margin: 0 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 1px 1px #ababab, rgb(255, 255, 255) 4px 4px 4px 2px inset;
  border: 1px solid rgb(238, 239, 241);
}
.ant-card-meta:hover {
  background-color: #61dafb;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.ant-card-meta-title {
  padding: 6px 0;
}
.shop-container .ant-card {
  border-radius: 25px;
  border: 1px solid #8e9e9d;
  box-shadow: #61dafb 0px 0px 2px 2px, rgb(0, 0, 0) 8px 8px 40px 4px;
}
.shop-container .ant-card:hover {
  border: 1px solid #000000;
  box-shadow: 0 0 6px 4px #61dafb;
}
/* .bottom-container {
  border-bottom: 1px solid rgb(200, 200, 200);
} */
.framer {
  padding: 40px 20px 20px 20px;
  /* width: 360px; */
  cursor: pointer;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.admin-dashboards {
  padding: 40px 20px 20px 20px;
  /* width: 360px; */
  border-bottom: 1px solid rgb(200, 200, 200);
}
.bottom-container h4 {
  font-size: 26px;
  padding: 10px 0;
  color: #61dafb;
}
.redux-counter {
  margin: 80px 0 40px 0;
}

@media screen and (max-width: 760px) {
  .bottom-container {
    /* padding-bottom: 20px; */
    padding: 20px;
  }
  /* .shop-container .ant-card:hover {
    box-shadow: 0 0 20px 6px #61dafb;
  } */
  .admin-dashboards {
    margin: 10px 0;
    /* padding: 20px; */
    width: 100%;
    height: 300px;
    border-bottom: 1px solid rgb(200, 200, 200);
    /* border: 1px solid #000000; */
  }
  .framer {
    margin: 10px 0;
    /* padding: 20px; */
    width: 100%;
    /* height: 300px; */
    border-bottom: 1px solid rgb(200, 200, 200);
    /* border: 1px solid #000000; */
  }
  .redux-counter {
    /* height: 300px; */
    /* border: 4px solid #000000; */
    margin: 60px 0 10px 0;
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
