.search-form {
  display: flex;
  /* flex-wrap: wrap-reverse; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding-top: 10px; */
  height: 34px;
}
/* .search-form path {
  size: 36px;
} */
.search-form button {
  width: auto;
  height: 100%;
  border: 0;
  border-radius: 0;
}
.search-form input {
  padding: 0 26px;
  margin-right: 5px;
  border: 0;
}

@media screen and (max-width: 760px) {
  .search-form {
    display: none;
  }
}
