.shop-container {
  /* background-color: #fff; */
  padding: 10px;
  /* border: 3px solid rgb(255, 0, 0); */
}
.shop-container img {
  padding: 50px;
  background-color: #333;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
}
/* .shop-container h1 { */
/* color: #ffffff; */
/* color: #61dafb; */
/* } */
.shop-container .card {
  border-radius: 25px;
}
.shop-container div {
  color: #fff;
}
.ant-card-meta {
  background-color: #2a2828;
  padding: 4px 0;
  border-radius: 25px;
}
.ant-card-meta:hover {
  background-color: #1681e5;
}
.ant-card-meta-title {
  padding: 4px;
}
.shop-container .ant-card {
  /* padding: 20px; */
  /* border: 2px solid #ffffff; */
  border-radius: 25px;
}
.shop-container .ant-card-meta-detail {
  padding: 0;
  /* border: 1px solid red; */
}
.ant-row {
  margin: 10px;
}
