.App {
  text-align: center;
  margin-top: 60px;
  min-height: 100vw;
}
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    height: calc(3vmin + 12vmin);
    pointer-events: none;
  }
  .react-logo:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: App-logo-spin infinite 20s linear;
  }
  .react:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.home-header {
  display: flex;
  flex-direction: column;
}
.languages img {
  margin: 30px 1vmin;
  width: calc(30px + 1.5vmin);
}
.languages img:hover {
  animation: App-logo-spin infinite 2s linear;
}

/* // footer needs a height of min 250px and links - stick it in the bottom */
footer {
  /* margin-top: 20px; */
  padding: 20px;
  text-align: center;
  color: #fff;
  /* position: sticky; */
  /* position: fixed; */
  /* position: relative; */
  /* position: absolute; */
  bottom: 0;
  /* min-height: 200px; */
  /* background-color: rgb(30, 28, 28); */
  /* height: auto; */
  /* align-items: center; */
  /* border: 1px red solid; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.express-content {
  text-align: center;
}

@media screen and (max-width: 760px) {
  .App {
    margin-top: 60px;
  }
  .react-logo {
    display: none;
  }
}
