.App {
  text-align: center;
  margin-top: 100px;
  /* border: 1px solid red; */
  /* position: relative; */
}
.home-header span {
  color: white;
  /* font-size: calc(14px + 0.5vmin); */
  margin: 0;
}
/* .App .anticon {
  color: rgb(159, 156, 156);
} */
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    height: calc(3vmin + 12vmin);
    pointer-events: none;
  }
  .react-logo:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: App-logo-spin infinite 20s linear;
  }
  .react:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.home-header {
  display: flex;
  flex-direction: column;
}
.Register {
  margin-left: 6px;
}
.link-client {
  /* font-size: calc(10px + 0.5vmin); */
  color: #ffffff;
  margin: 20px 0 10px 0;
  letter-spacing: 0.1em;
}
.link-client:hover {
  color: #61dafb;
}
.languages img {
  margin: 30px 1vmin;
  width: calc(30px + 1.5vmin);
}
.languages img:hover {
  animation: App-logo-spin infinite 2s linear;
}
.App .login-form a {
  color: #61dafb;
}
/* // footer needs a height of min 250px and links - stick it in the bottom */
footer {
  padding: 0 0 20px 0;
  text-align: center;
  color: #fff;
  /* position: sticky; */
  /* position: fixed; */
  /* position: relative; */
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100%; */
  /* min-height: 200px; */
  /* background-color: red; */
  /* height: auto; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 760px) {
  .App {
    margin-top: 80px;
    /* border: 1px solid red; */
  }
  .react-logo {
    display: none;
  }
}
