.clientsProject {
  margin-top: 100px;
  /* border: 1px solid red; */
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: wrap; */
  /* height: 100px; */
  /* background: black; */
}

.userList {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 90%;
}

.clientHeader {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 0;
  margin: 0;
}

.clientHeader input {
  height: 40px;
  width: 25%;
  padding-left: 16px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  /* color: #e2e2e2; */
  float: right;
}

.Client-List {
  margin: 0;
  border-bottom: 1px solid rgb(79, 79, 79);
  list-style: none;
}

.client-box {
  margin: 0;
  padding-left: 20px;
  text-align: left;
}

.svgicons {
  display: flex;
  width: 100px;
  height: 10px;
  color: white;
  position: relative;
  left: 86%;
  top: -50px;
  margin: 0;
  cursor: pointer;
}

.userList input {
  color: rgb(255, 255, 255);
}

/* .usersColumns {
  margin: 40px;
  border: 1px solid red;
  padding: 30px;
  width: 600px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
} */

/* .usersList {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(161, 0, 0);
  margin: 20px 0;
} */

/* .addUser { */
/* display: flex; */
/* gap: 10px; */
/* row-gap: 10px; */
/* column-gap: 20px; */
/* align-content: flex-start; */
/* align-self: auto; */
/* flex-direction: column; */
/* align-items: left; */
/* justify-content: left; */
/* margin: 0; */
/* padding: 2px; */
/* flex-wrap: wrap; */
/* } */

/* .labelUser {
  height: 38px;
  width: 120px;
  padding: 2px;
  border: 2px solid greenyellow;
  display: flex;
  align-content: flex-start;
  align-self: auto;
  align-items: left;
  justify-content: left;
} */

/* .inputUser { */
/* width: 200px; */
/* display: flex; */
/* border: 1px solid rgb(170, 170, 170); */
/* justify-content: left; */
/* border: none; */
/* margin-left: 20px; */
/* padding-left: 10px; */
/* align-items: right; */
/* } */

/* .dobUser {
  color: white;
  margin: 0;
  padding: 0;
} */

/* .userBox {
  text-align: right;
} */

/* .ant-modal-content {
  height: 100%;
  margin-top: 100px;
} */

/* .userBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(16px + 0.2vmin);
  width: 160px;
  height: 40px;
  cursor: pointer;
  background: #d60808;
} */

/* .userBtn {
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
  font-size: calc(14px + 0.1vmin);
  border: 2px solid rgb(63, 60, 60);
  border-radius: 25px;
  width: 160px;
  height: 2rem;
  background-color: #282c34;
  color: #ffffff;
  box-shadow: 0 0 2px 0 #61dafb, rgb(70, 70, 70) 2px 3px 4px 0 inset;
}
.userBtn:hover {
  background-color: #282c34;
  color: #61dafb;
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 0 0 8px 1px #61dafb, rgb(0, 0, 0) 0 2px 2px 0 inset;
}
.userBtn:focus {
  background-color: #282c34;
  color: #61dafb;
  border: 1px solid #61dafb;
  box-shadow: 0 0 0 1px #61dafb, rgb(149, 149, 149) 1px 1px 4px 0 inset;
} */

.submitbtn {
  /* margin: 0; */
  /* padding: 0; */
  /* left: 50%; */
  /* background-color: #0c50d9; */
  /* border: 1px solid #e70808; */
  margin-bottom: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* height: 200px; */
}
