.Zyx {
  /* border: 1px solid blue; */
  margin-bottom: 10px;
}
.vis {
  display: flex;
  flex-flow: wrap;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 60px;
  /* width: 80%; */
  /* border: 1px solid red; */
}
.vis p {
  font-size: 14px;
  /* color: yellow; */
}
/* .monthy-chart { */
/* display: flex; */
/* flex-direction: column; */
/* border: 1px solid red; */
/* margin: 0; */
/* padding: 0; */
/* text-align: left; */
/* align-items: left; */
/* justify-content: left; */
/* } */
/* .community-votes { */
/* border: 1px solid red; */
/* margin: 0; */
/* } */

/* .card-app {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
} */

.sestem-app {
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-flow: wrap; */
  /* margin: 20px 0; */
  /* padding: 20px 0; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  /* width: 90%; */
  /* border: 1px solid blue; */
  /* flex-direction: column; */
}

.toring-app {
  padding: 40px;
  margin-bottom: 20px;
  /* display: flex; */
  /* align-content: space-around; */
  /* flex-direction: column; */
  /* height: 280px; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.collapse-app {
  margin-bottom: 100px;
  width: 300px;
}

.Zyx .ant-statistic-content {
  color: #61dafb;
}

.Zyx .ant-progress-text {
  color: #61dafb;
}
.Zyx .ant-progress-circle .ant-progress-inner span {
  color: #61dafb;
}

.Zyx .ant-collapse {
  background-color: #01010100;
}
.Zyx .ant-collapse span {
  color: #61dafb;
}

.Zyx .ant-collapse-content-box p {
  color: #27292a;
  font-size: 14px;
  /* color: #61dafb; */
  /* background-color: #000000; */
}

.drawer-btn {
  margin: 40px 0;
}
