body div {
  background-color: #282c34;
  color: rgb(232, 177, 227);
}
/* .Home-body .ant-menu {
  background-color: #4b7ee4;
} */
/* .Home-body {
  text-align: center;
  max-width: 960px;
  height: 100vh;
  margin: auto;
  display: column;
  justify-content: center;
  align-content: center;
} */
/* .Home-body .ant-menu-submenu-title {
  background-color: #4b7ee4;
} */
/* .ant-menu .ant-menu-item-group-title {
  min-width: 220px;
  color: rgb(255, 255, 255);
} */
.App-logo {
  height: 20vmin;
  /* pointer-events: none; */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}
/* .Navbar-top {
  background-color: #282c34;
  color: #fff;
} */

/* .Navbar-top
  .ant-menu-overflow
  .ant-menu
  .ant-menu-root
  .ant-menu-horizontal
  .ant-menu-light {
  background-color: #282c34;
  color: #fff;
} */

.Home-body h1 {
  font-size: calc(18px + 5vmin);
  color: #61dafb;
  font-weight: 500;
  letter-spacing: 0.2em;
}
.Home-body h4 {
  color: #ffffff;
  font-size: calc(14px + 1.5vmin);
}
.Home-body p {
  font-size: calc(10px + 0.5vmin);
}
.Home-body a {
  font-size: calc(10px + 0.5vmin);
  color: #fff;
}
.Home-body .ant-btn {
  margin-bottom: 10px;
}
.Home-body img {
  display: inline-block;
  margin: 15px 10px;
}
footer {
  color: #fff;
  padding: 40px;
  letter-spacing: 0.3em;
  font-size: calc(8px + 0.2vmin);
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
