/* .login-form {
  width: 300px;
} */
/* .login-form-forgot {
  float: right;
} */
/* .ant-col-rtl .login-form-forgot {
  float: left;
} */
.login-form-button {
  width: 100%;
}
.login-form a {
  color: #45b7fe;
}
.ant-checkbox-wrapper {
  color: #ffffff;
}
