* {
  box-sizing: border-box;
  max-width: 960px;
  margin: auto;
}
.App {
  text-align: center;
  margin-top: 120px;
  /* border: 1px solid red; */
}
.kompweb p {
  color: rgb(255, 255, 255);
  /* font-size: calc(14px + 0.5vmin); */
}
.home-header span {
  color: white;
  /* font-size: calc(14px + 0.5vmin); */
  margin: 0;
}
.App .ant-btn-primary span {
  /* font-size: calc(16px + 0.5vmin); */
  color: rgb(0, 0, 0);
}
.App .anticon {
  color: rgb(159, 156, 156);
}
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    height: calc(3vmin + 12vmin);
    pointer-events: none;
  }
  .react-logo:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: App-logo-spin infinite 20s linear;
  }
  .react:hover {
    animation: App-logo-spin infinite 5s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.home-header {
  display: flex;
  flex-direction: column;
}

.App .ant-btn-primary {
  height: 35px;
  width: 70%;
  margin-bottom: 10px;
  background-color: #61dafb;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5%;
}
.App .ant-btn-primary:hover {
  background-color: #ffffff;
  border: 2px solid #61dafb;
}
.App .ant-input-affix-wrapper {
  height: 35px;
}
.Register {
  margin-left: 6px;
}

.link-client {
  /* font-size: calc(10px + 0.5vmin); */
  color: #ffffff;
  margin: 20px 0 10px 0;
  letter-spacing: 0.1em;
}
.link-client:hover {
  color: #61dafb;
}
.languages img {
  margin: 30px 1vmin;
  width: calc(30px + 1.5vmin);
}
.languages img:hover {
  animation: App-logo-spin infinite 2s linear;
}
.App .login-form a {
  color: #61dafb;
}

footer {
  bottom: 0;
  /* display: fixed; */
  /* margin: 5%; */
  /* width: 100%; */
  padding: 20px 0;
  text-align: center;
  color: #fff;
  letter-spacing: 0.1em;
}
.search-form button {
  font-size: calc(12px + 0.5vmin);
  /* margin: 0; */
  width: calc(58px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 760px) {
  .App {
    margin-top: 80px;
    /* border: 1px solid red; */
  }
  .react-logo {
    display: none;
  }
}
