* {
  box-sizing: border-box;
  max-width: 960px;
  margin: auto;
}

.App {
  text-align: center;
  /* background-color: red; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
}
p {
  color: rgb(255, 255, 255);
  /* font-size: calc(14px + 0.5vmin); */
}
a {
  font-size: calc(14px + 0.5vmin);
}
span {
  /* color: rgb(205, 26, 26); */
  color: white;
  /* font-size: calc(14px + 0.5vmin); */
  font-size: 16px;
  margin: 0;
  /* height: 40px; */
}
.ant-btn span {
  height: calc(14px + 0.5vmin);
}
.App .ant-input-affix-wrapper {
  height: 40px;
  /* border: 1px solid red; */
  /* padding: 0; */
  /* font-size: 18px; */
  color: black;
}
.App .anticon {
  color: rgb(159, 156, 156);
}
/* .App span { */
/* display: flex;
  flex-direction: row; */
/* color: rgb(78, 28, 246); */
/* font-size: calc(10px + 0.5vmin); */
/* } */

/* .container { */
/* height: 100vh; */
/* margin: auto; */
/* } */
.react-logo {
  height: calc(3vmin + 10vmin);
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    margin: 5% 0 5% 0;
    animation: App-logo-spin infinite 20s linear;
  }
  /* .react-logo:hover {
    animation: stop;
  } */
}
.home-header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.App .ant-btn {
  margin-bottom: 10px;
  height: 40px;
}
.Register {
  margin-left: 6px;
}
/* h1 {
  font-size: calc(10px + 1.5vmin);
  color: #61dafb;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: -8px;
  text-transform: uppercase;
} */

.link-client {
  font-size: calc(18px + 0.5vmin);
  color: #ffffff;
  margin-bottom: 20px;
}
.languages img {
  /* display: inline-block; */
  /* padding-top: 20px; */
  margin: 30px 1vmin;
  width: calc(30px + 1vmin);
}
.languages img:hover {
  animation: App-logo-spin infinite 2s linear;
}
.Contact-us {
  color: #ffffff;
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: calc(16px + 0.5vmin);
  border-bottom: 1px dashed #1890ff;
}
.Contact-us:hover {
  color: #1890ff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}
.Projects {
  /* color: red; */
  width: 60%;
  /* color: #fff; */
}
footer {
  /* position: absolute; */
  margin: 5% 0 10% 0;
  padding-bottom: 20px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.last-item {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.1em;
  /* font-weight: 200; */
}

.search-form button {
  font-size: calc(12px + 0.5vmin);
  margin: 0;
  /* width: calc(21px + 1vmin); */
}
.contact-form {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
  font-size: calc(12px + 0.4vmin);
  /* font-weight: 600; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding-top: 30px; */
  /* border: 1px solid red; */
  width: 400px;
}
.contact-form button {
  margin: 20px;
  color: rgb(0, 0, 0);
  background-color: #1890ff;
  width: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .react-logo {
    /* display: none; */
    margin-top: 30%;
  }
  .link-client {
    font-size: calc(16px + 0.5vmin);
    /* margin-top: 10px; */
    /* color: red; */
    position: relative;
    /* right: 20px; */
    /* left: 40px; */
    top: 10px;
    /* background-color: #1890ff; */
    text-align: left;
    left: 0;
  }
  footer {
    /* position: absolute; */
    margin: 1% 0 0 0;
    /* padding-bottom: 10px; */
  }
  /* .App {
    display: block;
  } */
}
